[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robust-codesign = {path = "./software/python"}
tikzplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
